.admin-teams-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
  }  
  .admin-teams-navbar-container {
    top: 0;
    width: 100%;
    display: flex;
    z-index: 100;
    position: sticky;
    box-shadow: 5px 5px 10px 0px #b9b9b9;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-gray-white);
  }
  .admin-teams-navbar {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxcontent);
    align-items: center;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-doubleunit);
    justify-content: space-between;
  }
  .admin-teams-left-side {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .admin-teams-image {
    width: 50px;
    align-self: center;
    object-fit: cover;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .admin-teams-burger-menu {
    display: none;
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: column;
  }
  .admin-teams-icon {
    width: 36px;
    height: 36px;
  }
  .admin-teams-links-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .admin-teams-link {
    font-style: normal;
    font-weight: 700;
    margin-right: var(--dl-space-space-tripleunit);
    text-transform: capitalize;
    text-decoration: none;
  }
  .admin-teams-link1 {
    margin-right: var(--dl-space-space-tripleunit);
    text-decoration: none;
  }
  .admin-teams-link2 {
    margin-right: var(--dl-space-space-tripleunit);
    text-decoration: none;
  }
  .admin-teams-container1 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: space-between;
    flex-direction: column;
  }
  .admin-teams-navlink {
    display: contents;
  }
  .admin-teams-icon2 {
    fill: #000000;
    width: 35px;
    height: 35px;
    align-self: center;
    text-decoration: none;
  }
  .admin-teams-mobile-menu {
    top: 0px;
    flex: 0 0 auto;
    left: 0px;
    width: 100%;
    height: 100VH;
    display: none;
    padding: var(--dl-space-space-doubleunit);
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
  }
  .admin-teams-container2 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: row;
    justify-content: space-between;
  }
  .admin-teams-image1 {
    width: 50px;
    align-self: center;
    object-fit: cover;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .admin-teams-close-menu {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .admin-teams-icon4 {
    width: 24px;
    height: 24px;
  }
  .admin-teams-links-container1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .admin-teams-link3 {
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .admin-teams-link4 {
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .admin-teams-link5 {
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .admin-teams-link6 {
    text-decoration: none;
  }
  .admin-teams-section-separator {
    width: 100%;
    height: 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-900);
  }
  .admin-teams-section-separator1 {
    width: 100%;
    height: 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-900);
  }
  .admin-teams-section-separator2 {
    width: 100%;
    height: 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-900);
  }
  .admin-teams-section-separator3 {
    width: 100%;
    height: 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-900);
  }
  @media(max-width: 767px) {
    .admin-teams-burger-menu {
      display: flex;
      padding: var(--dl-space-space-halfunit);
      background-color: var(--dl-color-gray-black);
    }
    .admin-teams-icon {
      fill: var(--dl-color-gray-white);
    }
    .admin-teams-links-container {
      display: none;
    }
  }
  